<div class="side">
  <h1><%= t(:recent_diaries) %></h1>
  <ul>
    <% @diaries.each do |diary| %>
      <li>
        <%= link_to diary.name, diary_path(diary) %>
      </li>
    <% end %>
  </ul>
</div>

<div class="content">
  hello, it's you!
</div>
