// Place all the styles related to the diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.side {
  float: left;
  width: 294px;
  padding-right: 16px;
  border-right: 1px solid;
}

div.content {
  margin-left: 320px;
}

div.side h1 {
  margin-left: 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  margin-bottom: 16px;
  float: left;
}

div.side>ul {
  clear: both;
  list-style: none;
}
div.side>ul>li {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0, .1);
  border-radius: 10px;
  margin: 5px 5px;
  padding: 5px 5px;
}

.diary {
  list-style: none; 
  margin-left: 5px;
  clear: both;
}

.diary li.text{
  margin-left: 18px;
}

.diary li.from{
  text-align: right;
  color: #888;
}

#diary_text {
  width: 100%;
}

#preview_text {
  display: none;
  width: 100%;
  min-height: 360px;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 20px;
}
