// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.diaries {
  -webkit-column-count: 5;
  -webkit-column-gap: 3px;
  -webkit-column-rule: none;
  -webkit-column-width: 210px;
  -webkit-column-span: all;
  -webkit-column-break-before: avoid;
  -webkit-column-break-after: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-count: 5;
  -moz-column-gap: 3px;
  -moz-column-rule: none;
  -moz-column-width: 210px;
  -moz-column-span: all;
  -moz-column-break-before: avoid;
  -moz-column-break-after: avoid;
  -moz-column-break-inside: avoid;
  column-count: 5;
  column-gap: 3px;
  column-rule: none;
  column-width: 210px;
  column-span: all;
  column-break-before: avoid;
  column-break-after: avoid;
  column-break-inside: avoid;
}

div.diary {
  min-height: 100px;
  #width: 200px;
  border: 1px solid #D9D8DD;
  border-radius: 10px;
  margin-top: 16px;
  /*margin-right: 16px;*/
  background-color: rgba(255,255,255,0.8);
  -webkit-column-break-inside: avoid;
  box-shadow: 10px 10px 5px #888;
}

div.diary>pre {
  border: none;
  padding: 5px 5px 0 5px;
  margin-bottom: 0px;
  border-top: 1px solid #EEE;
  background-color: rgba(245,245,245,0.8);
}

div.diary>div.title {
  padding: 5px;
}

div.diary>div.from {
  color: #888;
  margin-right: 5px;
  border-radius: 10px;
  text-align: right;
}

div.diary>div.clear {
  clear: both;
}
