<div class="modal fade" id="help">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>编写漂亮的日志</h3>
  </div>
  <div class="modal-body">
    <p>Diary使用最简洁的标记语言markdown进行格式化</p>
    <ul>
      <li>使用 **<strong>加粗</strong>**</li>
        <li>使用 *<em>斜体</em>*</li>
        <li>使用 1. 2. 3. 有序标记</li>
        <li>使用 === 标题</li>
    </ul>
    更多，请参考：<a href="http://wowubuntu.com/markdown/basic.html" target="_blank">http://wowubuntu.com/markdown/basic.html</a>
  </div>
</div>
